#container{
width: 1050px;

/*border: 1px solid grey; */
margin: 0 auto;
}
body{
	font: arial , helvetica, sans-serif;
}

h1 a{
	font-size: 50px;
	-webkit-font-weight: larger;
	color: #861BBF;
	text-decoration: none;
}
#searchbox{
	float: right;
	background: linear-gradient(#E4F289,#B7E953);
	-webkit-background: linear-gradient(#E4F289,#B7E953);
	-o-background: linear-gradient(#E4F289,#B7E953);
	-moz-background: linear-gradient(#E4F289,#B7E953);
	width: 400px;
	height: 50px;
	padding: 20px 20px 0 20px;
	margin-top: 20px;
}
#brand{
	float: left;
}
#header{
	height: 100px;
	padding: 10px 0;
}
.text{
	float: left;
	width: 200px;
	padding: 5px;
	font-size: 15px;
	color: orange;
	background: white url(image/search-icon.png) right center no-repeat;
	border: 1px solid #CBD83E;

}
.submit{
	float: right;
	padding: 5px;
	font-weight: bold;
	background: #8751DC;
	color: white;
	font-size: 15px;
	}
	.clear{
		clear: both;
	}
	ul{
		list-style: none;
	}
    #menu ul li{
    	float: left;
    	padding: 0 20px;
    	height: 30PX;
    	border-right: 1px solid #5d12e7;

    }
    #menu{
    	height: 70px;
    	background: linear-gradient(#F8F594, #D5D533);
    	padding: 7px 0;
    }
    #menu ul li a{
    	text-decoration: none;
    	font-size: 17px;
    	color: #5d12e7;
    	line-height: 30px;
    	-moz-transition: font-size 0.3s ease;
    	-webkit-transition: font-size 0.3s ease;
    	-o-transition: font-size 0.3s ease;
    	-ms-transition: font-size 0.3s ease;
    }
    #menu ul li:last-child{
    	border-right: none;
    }
    #menu ul li a:hover, #menu ul li a.active{
    	font-size: 20px;
    	font-weight: bold;
    	color: #B314DB;
    }
    #introduction{
    	background:linear-gradient(#E5F200, #B7E952);
    	padding: 30px;
    	margin:16px 0;

    }
    #introduction h1{
    	color: #316901;
    	font-weight: normal;
    }
    #introduction p{
    	font-size: 20px;
    	color:#628F19;
    }
    
    .sidebar{
    	height: 500px;
    	width: 450px;
    	border: 1px solid #BAF46F;
    	border-radius: 20px;
    	padding: 10px 20px;
    }
    .sidebar h3{
       color: #B314DB;
       font-size: 30px;
    }
    #leftsidebar{
    	float: left;
    }
    #rightsidebar{
    	float: right;
    }
    .sidebar ul li a{
    	text-decoration: none;
    	font-size: 20px;
    	color: #5d12e7;
    	-moz-transition: font-size 0.3s ease;
    	-webkit-transition: font-size 0.3s ease;
    	-o-transition: font-size 0.3s ease;
    	-ms-transition: font-size 0.3s ease;
    }
    .sidebar ul li a:hover, .sidebar ul li a.active{
    	text-decoration: none;
    	color: #B314DB;
    	font-size: 23px;
    	font-weight: bold;
    }
    .sidebar ul li{
    	padding-bottom: 6px;
    	list-style-image: url(image/arrow.png);
    	padding-left:5px;}
    .footer{
    	height: 60px;
    	background:linear-gradient(#F6F300, #D5D533);
    	margin: 15px;
    	
    }

    .footer div p{
    	line-height: 50px;
    	padding-left: 20px;
    }